@import "tailwindcss";
@plugin './hero.ts';


@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Google Sans', sans-serif;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Google Sans', sans-serif;
}

*,
*::before,
*::after,
button,
input,
select,
textarea {
  font-family: inherit;
}
